@using Microsoft.AspNetCore.Identity
@using PizzeriaOnline.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

    @if (SignInManager.IsSignedIn(User))
    {

    
    @if ((await UserManager.GetRolesAsync(await UserManager.GetUserAsync(User))).FirstOrDefault() == "Admin")
    {
        <li class="li-list">
            <a id="manage" class="a-link" href="@Url.Action("AdminPanel", "Account")">Panel Administratora</a>
        </li>
    }

    <li class="li-list">
        <a id="manage" class="a-link" href="@Url.Action("EditProfile", "Account")">Mój profil</a>
    </li>
    <li class="li-list">
        <a class="a-link" href="@Url.Action("Logout", "Account")">Wyloguj</a>
    </li>
    }
    else
    {
    <li class="li-list">
        <a class="a-link" id="register" href="@Url.Action("Register", "Account")">Zarejestruj się</a>
    </li>
    <li class="li-list">
        <a class="a-link" id="login" href="@Url.Action("Login", "Account")">Zaloguj</a>
    </li>
    }
