@model IEnumerable<PizzeriaOnline.Models.Product>

@{
    ViewData["Title"] = "Menu";
}
@section Styles{
    <link rel="stylesheet" href="~/css/shopping_cart.css" />
}
<div class="p-4 bg-dark rounded">
    <div class="row border-bottom">
        <div class="col-7"><h1>@ViewData["Title"]</h1></div>
        <div class="col-1"><strong>mała</strong> <p>32cm</p></div>
        <div class="col-1"><strong>średnia</strong> <p>42cm</p></div>
        <div class="col-1"><strong>duża</strong> <p>50cm</p></div>
        <div class="col-2"></div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row border-bottom p-3">
            <p class="d-none">@Html.DisplayFor(modelItem => item.Id)</p>
            <div class="col-2">
                @if (item.ImageName != null)
                {
                    <img class="img-thumbnail" src="@Url.Action("GetImage", "Products", new { Id = item.Id })" />
                }
            </div>
            <div class="col-5">
                <div class="row">
                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                </div>
                <div class="row">
                    @foreach (var componentsProduct in item.Components)
                    {
                        if (componentsProduct == item.Components.Last())
                        {
                            @Html.DisplayFor(model => componentsProduct.Component.Name)
                        }
                        else
                        {
                            @Html.DisplayFor(model => componentsProduct.Component.Name)<text>, </text>
                        }
                    }
                </div>
            </div>
            @foreach (var priceForSize in item.PricesForSizes)
            {
                <div class="col-1 align-self-center">
                    @Html.DisplayFor(model => priceForSize.Price)
                </div>
            }
            <div class="col-2 align-self-center">
                <button type="button" data-toggle="modal" data-target="#cart" onclick="select_product(this)" class="btn btn-warning">Dodaj do koszyka</button>
            </div>
        </div>
    }
</div>


<button type="button" class="btn btn-primary btn-lg" id="shopping-cart-button" data-toggle="modal" data-target="#shopping-cart">Koszyk (<span class="total-count"></span>)</button>

<!-- Modal -->
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Wybierz rozmiar i ilość</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="show-cart table">
                    <tr>
                        <td id="prodTitle"></td>
                        <td>
                            <select class='prodSize form-select'>
                                <option selected value='0'>Wybierz rozmiar</option>
                                <option value='1'>mała</option>
                                <option value='2'>średnia</option>
                                <option value='3'>duża</option>
                            </select>
                        </td>
                        <td>
                            <div class='input-group'>
                                <button class='minus-item btn btn-primary'>-</button>
                                <input type='number' class='item-count' id="prodQuantity" value='1'>
                                <button class='plus-item btn btn-primary'>+</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-primary add_to_card_button" onclick="addToShoppingCart()">Dodaj do koszyka</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="shopping-cart" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1" style="color:black">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Koszyk</h5>
                <a href="#" class="continue">Kontynuuj zakupy</a>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="cart">
                    <ul class="cartWrap">
                        <li class="items odd">
                            <div class="infoWrap">
                                <div class="cartSection">
                                    <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg" />
                                    <h3>Item Name 1</h3>

                                    <p> <input type="text" class="qty" placeholder="3" /> x $5.00</p>
                                </div>

                                <div class="prodTotal cartSection">
                                    <p>$15.00</p>
                                </div>
                                <div class="cartSection removeWrap">
                                    <a href="#" class="remove">x</a>
                                </div>
                            </div>
                        </li>
                        <li class="items even">

                            <div class="infoWrap">
                                <div class="cartSection">

                                    <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg" />
                                    <h3>Item Name 1</h3>

                                    <p> <input type="text" class="qty" placeholder="3" /> x $5.00</p>
                                </div>


                                <div class="prodTotal cartSection">
                                    <p>$15.00</p>
                                </div>
                                <div class="cartSection removeWrap">
                                    <a href="#" class="remove">x</a>
                                </div>
                            </div>
                        </li>

                        <li class="items odd">
                            <div class="infoWrap">
                                <div class="cartSection">

                                    <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg" />
                                    <h3>Item Name 1</h3>

                                    <p> <input type="text" class="qty" placeholder="3" /> x $5.00</p>

                                </div>

                                <div class="prodTotal cartSection">
                                    <p>$15.00</p>
                                </div>
                                <div class="cartSection removeWrap">
                                    <a href="#" class="remove">x</a>
                                </div>
                            </div>
                        </li>
                        <li class="items even">
                            <div class="infoWrap">
                                <div class="cartSection info">

                                    <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg" />
                                    <h3>Item Name 1</h3>

                                    <p> <input type="text" class="qty" placeholder="3" /> x $5.00</p>
                                </div>


                                <div class="prodTotal cartSection">
                                    <p>$15.00</p>
                                </div>

                                <div class="cartSection removeWrap">
                                    <a href="#" class="remove">x</a>
                                </div>
                            </div>
                        </li>


                        <!--<li class="items even">Item 2</li>-->

                    </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="subtotal cf">
                        <ul>
                            <li class="totalRow final"><span class="label">Total</span><span class="value">$44.00</span></li>
                            <a href="#" class="btn continue">zamów</a>
                        </ul>
                    </div>
                    <button class="btn btn-primary" data-target="#exampleModalToggle2" data-toggle="modal" data-dismiss="modal">Open second modal</button>
                </div>
            </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1" style="color:black">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Modal 2</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Hide this modal and show the first with the button below.
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-target="#exampleModalToggle" data-toggle="modal" data-dismiss="modal">Back to first</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/shopping_cart.js" asp-append-version="true"></script>
}
