@model IEnumerable<PizzeriaOnline.Models.Product>

@{
    ViewData["Title"] = "Menu";
}
@section Styles{
    <link rel="stylesheet" href="~/css/menu.css" />
}
<div class="p-4 bg-transparent rounded">
    <div class="row border-bottom">
        <div class="col-7"><h1>@ViewData["Title"]</h1></div>
        <div class="col-1"><strong>mała</strong> <p>32cm</p></div>
        <div class="col-1"><strong>średnia</strong> <p>42cm</p></div>
        <div class="col-1"><strong>duża</strong> <p>50cm</p></div>
        <div class="col-2"></div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row border-bottom p-3">
            <p class="d-none">@Html.DisplayFor(modelItem => item.Id)</p>
            <div class="col-2">
                @if (item.ImageName != null)
                {
                    <img class="img-thumbnail" src="@Url.Action("GetImage", "Products", new { Id = item.Id })" />
                }
            </div>
            <div class="col-5">
                <div class="row">
                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                </div>
                <div class="row">
                    @foreach (var componentsProduct in item.Components)
                    {
                        if (componentsProduct == item.Components.Last())
                        {
                            @Html.DisplayFor(model => componentsProduct.Component.Name)
                        }
                        else
                        {
                            @Html.DisplayFor(model => componentsProduct.Component.Name)<text>, </text>
                        }
                    }
                </div>
            </div>
            @foreach (var priceForSize in item.PricesForSizes)
            {
                <div class="col-1 align-self-center">
                    @Html.DisplayFor(model => priceForSize.Price)
                </div>
            }
            <div class="col-2 align-self-center">
                <button type="button" data-toggle="modal" data-target="#cart" onclick="select_product(this)" class="btn btn-warning">Dodaj do koszyka</button>
            </div>
        </div>
    }
</div>


<!-- Modal -->
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Wybierz rozmiar i ilość</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="show-cart table">
                    <tr>
                        <td id="prodTitle"></td>
                        <td>
                            <select class='prodSize form-select'>
                                <option selected value='0'>Wybierz rozmiar</option>
                                <option value='1'>mała</option>
                                <option value='2'>średnia</option>
                                <option value='3'>duża</option>
                            </select>
                        </td>
                        <td>
                            <div class='input-group'>
                                <button class='minus-item btn btn-primary'>-</button>
                                <input type='number' class='item-count' id="prodQuantity" value='1'>
                                <button class='plus-item btn btn-primary'>+</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-primary add_to_card_button" onclick="addToShoppingCart()">Dodaj do koszyka</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/adding_to_shopping_cart.js" asp-append-version="true"></script>
}
