@model PizzeriaOnline.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Availability)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Availability)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoAvatar)
        </dt>

        <dd class="col-sm-10">
            <img class="photo-display-img" src="@Url.Action("GetImage", "Products", new { Id = Model.Id })" />
        </dd>

            @foreach (var priceForSize in Model.PricesForSizes)
            {
                <span class="display-field">
                    @Html.DisplayNameFor(modelItem => priceForSize.Size)
                    @Html.DisplayFor(model => priceForSize.Size)
                    @Html.DisplayNameFor(modelItem => priceForSize.Price)
                    @Html.DisplayFor(model => priceForSize.Price)

                </span>
            }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
