@using PizzeriaOnline.Models
@model IEnumerable<PizzeriaOnline.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Availability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricesForSizes.First().Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricesForSizes.First().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Components)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Availability)
            </td>

            <td>
                @if (item.ImageName != null)
                {
                    <div class="media">
                        <img class="img-thumbnail" src="@Url.Action("GetImage", "Products", new { Id = item.Id })" style="width:150px" />
                    </div>
                }
            </td>
            <td>
                <ul class="list-group">
                    <li class="list-group-item">Mała</li>
                    <li class="list-group-item">Średnia</li>
                    <li class="list-group-item">Duża</li>
                </ul>
            </td>

            <td>
                <ul class="list-group">
                    @foreach (var priceForSize in item.PricesForSizes)
                    {
                        <li class="list-group-item">
                            @Html.DisplayFor(model => priceForSize.Price)<text>zł</text>
                        </li>
                    }
                </ul>
            </td>
            <td>
                <ul class="list-group">
                    @foreach (var componentsProduct in item.Components)
                    {
                        <li class="list-group-item">
                            @Html.DisplayFor(model => componentsProduct.Component.Name)<text> </text>
                        </li>
                    }
                </ul>
            </td>


            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
